$fontFamily: "Sofia Pro", sans-serif;

$fontSize: 10px;

$backgroundColor: #fff;
$backgroundColorSection: #f6f9fe;

$fontColorRed: #d60039;
$fontColorWhite: #fff;
$fontColorBlack: black;

$topBar: #c8003e;
$footerColor: #e30047;

$boardColor: #ced4da;
